:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dk-cyan: hsl(185, 75%, 39%);
  --vy-dk-blue: hsl(229, 23%, 23%);
  --dk-gr-blue: hsl(227, 10%, 46%);
  --dk-gray: hsl(0, 0%, 59%);
}